<p>
	design and development practice of Louis Desmet. Brussels based. Open for freelance work &
	collaboration starting Q2 2024 🟢.
</p>
<p>
	For inquiries get in touch at ↗
	<!-- simple obfuscation to avoid spam bots -->
	<a href="mailto:i%6efo@oxomoto%2eco" class="text-blue-600">
		info
		<span class="at"></span>
		<span class="dom"></span>
	</a>
</p>

<style>
	:root {
		--mydom: 'oxomoto.co';
	}
	.at:before {
		content: '@';
	}
	.dom:after {
		content: var(--mydom);
	}
</style>
