---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Newsletter from '@/components/Newsletter.astro'

const about = await getCollection('about')
const data = about[0]
---

<Layout title="about oxomoto">
	<main>
		<section class="grid w-full grid-cols-4 gap-4 pt-4 md:grid-cols-8">
			<div class="col-span-3 col-start-1">
				<p>
					{data.body}
				</p>
				<p>
					For inquiries get in touch at ↗
					<!-- simple obfuscation to avoid spam bots -->
					<a href="mailto:i%6efo@oxomoto%2eco" class="text-blue-600">
						info
						<span class="at"></span>
						<span class="dom"></span>
					</a>
				</p>
			</div>
		</section>
		<section class="pt-12">
			<ul aria-label="about links"></ul>
			{
				data.data.links.map((link) => {
					return (
						<li>
							{link.label}:{' '}
							<a href={link.url} class="hover:underline">
								{link.handle}
							</a>
						</li>
					)
				})
			}
		</section>

		<Newsletter />
	</main>
</Layout>
<style>
	:root {
		--mydom: 'oxomoto.co';
	}
	.at:before {
		content: '@';
	}
	.dom:after {
		content: var(--mydom);
	}
</style>
