---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="About oxomoto">
	<main class="">
		<section class="about">
		<p class="text-xl">oxomoto is the design & development practice of Jonny Do. 
			
			<br>Brussels based.
			Site is being updated. ꩜
			<br>
			<br>Open for freelance work & collaboration 🟢</p>
		</section>
	</main>
</Layout>

<style>
	.about {
		display: flex;
	}
</style>


