---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'

import { getCollection } from 'astro:content'
import Newsletter from '@/components/Newsletter.astro'

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allBlogPosts = await getCollection('posts')
console.log(allBlogPosts)
---

<Layout title="about oxomoto">
	<main class="">
		<section class="flex flex-col">
			<p class="col-span-3 col-start-1 text-gray-500 md:col-start-4">
				design practice and development practice of Louis Desmet. Brussels based.
				<br />Open for freelance work & collaboration starting Q2 2024🟢<br /> For inquiries get in
				touch at <a class="text-blue-600" href="mailto:info@oxomoto.co">info@oxomoto.co</a>
			</p>
			<!-- <p>{allBlogPosts[0].data.summary}</p>
			<p>{allBlogPosts[0].slug}</p>
			<ul>
				{
					allBlogPosts[0].data.tags.map((el) => {
						return <li>{el}</li>
					})
				}
			</ul> -->
			<Newsletter />
		</section>
	</main>
</Layout>
