---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="About oxomoto">
	<main class="">
		<section class="flex flex-col">
			<p class="text-xl">oxomoto is the design & development practice of Louis Desmet.</p>

			<p class="text-xl">Brussels based. Site is being updated. ꩜</p>

			<p class="text-xl">Open for freelance work & collaboration starting Q2 2024🟢</p>
		</section>
	</main>
</Layout>
