---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="About oxomoto">
	<main class="">
		<section class="flex">
		<p class="text-xl">oxomoto is the design & development practice of Louis Desmet. 
			
			<br>Brussels based.
			Site is being updated. ꩜
			<br>
			<br>Open for freelance work & collaboration 🟢</p>
		
		</section>
	</main>
</Layout>




