---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Newsletter from '@/components/Newsletter.astro'

const about = await getCollection('about')
const data = about[0]
---

<Layout title="About oxomoto" class="h-screen">
	<main class="flex h-full flex-col justify-between px-4">
		<section class="max-w-[900px]">
			<h2 class="text-stone-400">about</h2>
			<div class="col-span-3 col-start-1">
				<p>
					{data.body}
					<span class="relative inline-flex h-3 w-3">
						<span
							class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-80"
						></span>
						<span class="relative inline-flex h-3 w-3 rounded-full bg-green-300"></span>
					</span>
				</p>

				<p>
					For inquiries get in touch at ↗
					<!-- simple obfuscation to avoid spam bots -->
					<a
						href="mailto:i%6efo@oxomoto%2eco"
						class="text-blue-600 hover:text-darkSand hover:underline"
					>
						info
						<span class="at"></span>
						<span class="dom"></span>
					</a>
				</p>
			</div>

			<h3 class="pt-8 text-stone-400">links</h3>
			<ul aria-label="about links">
				{
					data.data.links.map((link) => {
						return (
							<li>
								<div class="has-tooltip">
									{/* <span class="tooltip ml-2 inline-block rounded border bg-gray-100 p-1 shadow-lg">
										{link.handle}
									</span> */}
									<a href={link.url} class="hover:text-darkSand hover:underline">
										{link.label}
									</a>
								</div>
							</li>
						)
					})
				}
			</ul>
		</section>

		<Newsletter />
	</main>
</Layout>
<style>
	:root {
		--mydom: 'oxomoto.co';
	}
	.at:before {
		content: '@';
	}
	.dom:after {
		content: var(--mydom);
	}
</style>
