---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Newsletter from '@/components/Newsletter.astro'
import Button from '@/components/Button.astro'

const about = await getCollection('about')
const data = about[0]
---

<Layout title="About oxomoto" class="h-screen">
	<main class="flex h-full flex-col justify-between pt-2 md:px-2 md:pt-0">
		<section class="flex flex-col gap-2">
			<div class="list flex w-full items-start gap-2">
				<h2 class="btn w-1/5 pt-2">About</h2>
				<div class="w-full">
					<p>
						{data.body}
						<span class="relative inline-flex h-3 w-3">
							<span
								class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-80"
							></span>
							<span class="relative inline-flex h-3 w-3 rounded-full bg-green-300"></span>
						</span>
					</p>

					<p>
						For inquiries get in touch at ↗
						<!-- simple obfuscation to avoid spam bots -->
						<a
							href="mailto:i%6efo@oxomoto%2eco"
							class="text-blue-600 hover:text-darkSand hover:underline"
						>
							info
							<span class="at"></span>
							<span class="dom"></span>
						</a>
					</p>
				</div>
			</div>
			<div class="list flex w-full items-start gap-2">
				<h3 class="btn w-1/5">Links</h3>
				<ul class="w-full" aria-label="about links">
					{
						data.data.links.map((link) => {
							return (
								<li>
									<a href={link.url} class="hover:text-darkSand hover:underline">
										{link.label}
									</a>
								</li>
							)
						})
					}
				</ul>
			</div>

			<div class="list flex w-full items-start gap-2">
				<h3 class="btn w-1/5">Services</h3>
				<ul class="w-full" aria-label="about links">
					<li>Art Direction</li>
					<li>Web development</li>
					<li>Graphic Design</li>
					<li>Branding</li>
					<li>UX/UI</li>
					<li>Typography</li>
					<li>Consulting</li>
					<li>SEO</li>
					<li>E-commerce</li>
				</ul>
			</div>

			<div class="list flex w-full items-start gap-2">
				<Button class="w-1/5">Newsletter</Button>
				<Newsletter />
			</div>
		</section>
	</main>
</Layout>
<style>
	:root {
		--mydom: 'oxomoto.co';
	}
	.at:before {
		content: '@';
	}
	.dom:after {
		content: var(--mydom);
	}

	.btn {
		display: block;
		padding: 0.25rem 0 2rem 0.25rem;
		width: 20vw;
		text-align: left;
		border-top: 2px solid rgb(229, 229, 229);
		border-right: 2px solid rgb(110, 110, 110);
		border-bottom: 2px solid rgb(110, 110, 110);
		border-left: 2px solid rgb(229, 229, 229);
	}

	@media (max-width: 768px) {
		.btn {
			width: 100%;
		}
		.list {
			flex-direction: column;
		}
		.list div,
		.list li {
			padding: 0 1.25rem 0.25rem 0.25rem;
		}
	}
</style>
