---
import Layout from '@/layouts/Layout.astro'
import Carousel from '@/components/Carousel.astro'
---

<Layout title="oxomoto" class="h-screen pt-2">
	<!--
		-- maybe some ascii--
		-- --- -- test -- --- -
 	!-->
	<main class="">
		<!-- <Carousel /> -->
	</main>
</Layout>
