---
import Layout from '@/layouts/Layout.astro'
const { env } = Astro.locals.runtime
const domain = env.DOMAIN
import { SEO } from 'astro-seo'

import Work from '@/components/Work.astro'
---

<Layout title="oxomoto" class="h-screen">
	<SEO
		title="oxomoto graphic designer and web developer"
		description="oxomoto is a web developer and designer based in Brussels, Belgium. Graphic design, web development, typography, ux/ui design and branding."
		openGraph={{
			basic: {
				title: 'oxomoto web developer and graphic designer',
				type: 'website',
				image: `${domain}images/socials/oxomoto_opengraph.png`
			}
		}}
		twitter={{
			creator: '@oxomoto'
		}}
		slot="head"
	/>

	<main class="flex flex-col">
		<p class="desc prose rounded-md border p-4">
			Freelance webdeveloper & graphic designer, based in Brussels, Belgium.
		</p>
		<Work />
	</main>
	<a rel="me" class="hidden" href="https://indieweb.social/@oxomoto">Mastodon</a>
</Layout>

<style>
	.desc {
		margin: 20px auto;
		line-height: 1rem;
	}
</style>
