---
import Layout from '@/layouts/Layout.astro'
// import { opengraphImage } from './socials/oxomoto_opengraph.png'
const opengraphImage = '/images/socials/oxomoto_opengraph.png'
import { SEO } from 'astro-seo'
import Carousel from '@/components/Carousel.astro'
---

<Layout title="oxomoto" class="h-screen">
	<SEO
		title="oxomoto graphic designer and web developer"
		description="oxomoto is a web developer and designer based in Brussels, Belgium. Graphic design, web development, typography, ux/ui design and branding."
		openGraph={{
			basic: {
				title: 'oxomoto web developer and graphic designer',
				type: 'website',
				image: opengraphImage
			}
		}}
		twitter={{
			creator: '@oxomoto'
		}}
		slot="head"
	/>

	<main class="">
		<!-- <Carousel /> -->
	</main>
</Layout>
