---
import Layout from '@/layouts/Layout.astro'
// import HomeLayout from '@/layouts/Layout.astro'
import Carousel from '@/components/Carousel.astro'
---

<Layout title="oxomoto" class="h-screen">
	<!--
		-- maybe some ascii--
		-- --- -- test -- --- -
 	!-->
	<main class="">
		<Carousel />
	</main>
</Layout>
