---
import HomeLayout from '@/layouts/HomeLayout.astro'
---

<HomeLayout title="oxomoto">
	<!--
		-- maybe some ascii--
		-- --- -- test -- --- -
 	!-->
	<main class="">
		<section class="flex items-center justify-between"></section>
	</main>
</HomeLayout>
