---
import Layout from '@/layouts/Layout.astro'
const { env } = Astro.locals.runtime
const domain = env.DOMAIN
import { SEO } from 'astro-seo'
import Carousel from '@/components/Carousel.astro'
---

<Layout title="oxomoto" class="h-screen">
	<SEO
		title="oxomoto graphic designer and web developer"
		description="oxomoto is a web developer and designer based in Brussels, Belgium. Graphic design, web development, typography, ux/ui design and branding."
		openGraph={{
			basic: {
				title: 'oxomoto web developer and graphic designer',
				type: 'website',
				image: `${domain}images/socials/oxomoto_opengraph.png`
			}
		}}
		twitter={{
			creator: '@oxomoto'
		}}
		slot="head"
	/>

	<main class="">
		<p class="max-w-prose px-2 text-sm">
			Freelance developer & designer, based in Brussels, Belgium. Specialized in graphic design, web
			development, typography, ux/ui design and branding.
		</p>
		<!-- <Carousel /> -->
	</main>
</Layout>
