---
export const prerender = false

import Layout from '../layouts/Layout.astro'
import MemosLog from '@/components/svelte/MemosLog.svelte'

const { env } = Astro.locals.runtime
const memosApiUrl = env.MEMOS_API_URL || ''
---

<Layout title="Log">
	<main class="flex h-full flex-col items-center gap-4 px-4">
		<section class="h-full w-full max-w-5xl">
			<MemosLog client:load apiUrl={memosApiUrl} />
		</section>
	</main>
</Layout>
