---
export const prerender = false // update movies api

import Layout from '../layouts/Layout.astro'
import Movies from '../components/Movies.astro'
---

<Layout title="now page">
	<main class="flex flex-col gap-4 pt-4">
		<section>
			<ol>
				<li>
					Reading <a href="https://literal.club/oxomoto/book/the-silk-roads-bqgcy">The Silk Roads</a
					> by Peter Frankopan
				</li>
				<li>Practicing my Typescript & Svelte</li>
				<li>Drinking too much coffee</li>
				<li>Trying to index my library and make it reachable by API</li>
			</ol>
		</section>
		<section class="flex items-center justify-between">
			<Movies />
		</section>
	</main>
</Layout>
