---
export const prerender = false // update movies api

import { getCollection } from 'astro:content'

const now = await getCollection('now')

import Layout from '../layouts/Layout.astro'
import Movies from '../components/Movies.astro'
---

<Layout title="now page">
	<main class="flex flex-col gap-4 pt-4">
		<section>
			<ul aria-label="about links"></ul>
			{
				now[0].data.activities.map((a) => {
					return <li>{a.activity}</li>
				})
			}
		</section>
		<section class="flex items-center justify-between">
			<Movies client:idle />
		</section>
	</main>
</Layout>
