---
const { class: className } = Astro.props

// todo check if button or inactive
---

<button
	class:list={[
		'bg-mauve dark:bg-dark relative flex w-80 flex-wrap justify-between rounded-md border p-2 px-4',
		className
	]}
	><slot />
</button>

<style></style>
