---
// type Props ={
// 	title: string;
// 	body: string;
// 	href: string;
// }

import Darkmode from './Darkmode.astro'
// const counterscale: string = import.meta.env.COUNTERSCALE_URI
// const unislug: string = import.meta.env.UNIQUE_SLUG

function getOrdinalSuffix(day: number) {
	if (day > 3 && day < 21) return 'th'
	switch (day) {
		case 1:
			return 'st'
		case 2:
			return 'nd'
		case 3:
			return 'rd'
		default:
			return 'th'
	}
}

const monthNames = [
	'January',
	'February',
	'March',
	'April',
	'May',
	'June',
	'July',
	'August',
	'September',
	'October',
	'November',
	'December'
]

const date = new Date().toDateString()
---

<!-- <p>
	No cookies. Last updated <span>{date}</span>
</p> -->
<Darkmode />
<!-- <script is:inline>
	;(function () {
		window.counterscale = {
			q: [['set', 'siteId', 'rqqja62zGxwE7RmRLVIOvOEetM'], ['trackPageview']]
		}
	})()
</script>
<script id="counterscale-script" src=`${counterscale}/tracker.js` defer></script> -->
