---
import Nav from '@/components/Nav.astro'
import AboutContent from '@/components/AboutContent.astro'
---

<header class="grid w-full grid-cols-4 gap-4 p-4 md:grid-cols-8">
	<h1>oxomoto</h1>
	<div class="col-span-2 md:col-span-1">
		<p>designer</p><p>creative developer</p>
	</div>
	<div class="col-span-3 col-start-1 md:col-start-4">
		<AboutContent />
	</div>
	<Nav />
</header>
