---
const Links = [
	{
		path: '/',
		label: 'Home'
	},
	{
		path: '/about',
		label: 'About'
	},
	{
		path: '/now',
		label: 'Now'
	}
]
---

<div class="flex">
	{
		Links.length > 0
			? Links.map((l) => {
					return (
						<a
							href={l.path}
							class:list={[
								{
									relative: true,
									'bg-green-400': l.path === Astro.url.pathname
								}
							]}
						>
							<div class="check checkbox-wrapper-47">
								<label class="" for={l.label}>
									{l.label}
								</label>
							</div>
						</a>
					)
			  })
			: null
	}
</div>

<style>
	.check {
		padding-left: 1em;
	}

	.checkbox-wrapper-47 label {
		position: relative;
		padding-left: 3em;
		padding-right: 1em;
		line-height: 2;
		cursor: pointer;
		display: inline-flex;
		/* margin-left: 1em; */
	}

	.checkbox-wrapper-47 label:before {
		box-sizing: border-box;
		content: ' ';
		position: absolute;
		top: 0.3em;
		left: 0;
		display: block;
		width: 1em;
		height: 1em;
		border: 1px solid rgb(3, 223, 3);
		border-radius: 1px;
		z-index: -1;
	}

	.checkbox-wrapper-47 input[type='checkbox']:checked + label {
		padding-left: 2em;
		padding-right: 3em;
		color: #0f5229;
		border: 0px;
	}
	.checkbox-wrapper-47 input[type='checkbox']:checked + label:before {
		top: 0;
		width: 100%;
		height: 2em;
		background: #b7e6c9;
		border-color: #2cbc63;
		border: 0px;
	}
	.checkbox-wrapper-47:first-child input[type='checkbox']:checked + label:before {
		margin-left: -1em;
	}

	.checkbox-wrapper-47 label,
	.checkbox-wrapper-47 label::before {
		transition: 0.25s all ease;
	}

	.current-page {
		padding-left: 3em;
		padding-right: 3em;
		color: #0f5229;
		border: 0px;
		border-color: #2cbc63;
	}
</style>
