---
import Darkmode from './Darkmode.astro'
const Links = [
	{
		path: '/',
		label: 'Home'
	},
	{
		path: '/about',
		label: 'About'
	},
	{
		path: '/now',
		label: 'Now'
	}
]
---

<div class="absolute right-0 top-0 p-4 text-gray-500 dark:text-slate-200">
	<ul>
		{
			Links.length > 0
				? Links.map((l) => {
						return (
							<li class="pb-2">
								<a
									href={l.path}
									class={`relative ${
										l.path === Astro.url.pathname ? 'text-black dark:text-slate-600' : ''
									}`}
								>
									{l.label}
								</a>
							</li>
						)
				  })
				: null
		}
	</ul>
	<Darkmode />
</div>
