---
import Darkmode from './Darkmode.astro'
const Links = [
	{
		path: '/',
		label: 'Home'
	},
	{
		path: '/about',
		label: 'About'
	},
	{
		path: '/now',
		label: 'Now'
	}
]
---

<div class="col-start-4 flex flex-col gap-2 text-gray-500 md:col-start-8">
	{
		Links.length > 0
			? Links.map((l) => {
					return (
						<a
							href={l.path}
							class:list={[
								{
									relative: true,
									'text-black': l.path === Astro.url.pathname
								}
							]}
						>
							<div class="check checkbox-wrapper-47">
								<label class="" for={l.label}>
									{l.label}
								</label>
							</div>
						</a>
					)
			  })
			: null
	}
	<Darkmode />
</div>
