---
import Darkmode from './Darkmode.astro'
const Links = [
	// {
	// 	path: '/',
	// 	label: 'Home'
	// },
	{
		path: '/about',
		label: 'About'
	},
	{
		path: '/now',
		label: 'Now'
	}
]
---

<nav class="flex gap-2 text-darkSand dark:text-darkText">
	<ul class="flex gap-2">
		{
			Links.length > 0
				? Links.map((l) => {
						return (
							<li class="pb-2">
								<a
									href={l.path}
									class={`relative ${
										l.path === Astro.url.pathname
											? 'text-darkSand text-opacity-40 dark:text-darkText dark:text-opacity-40'
											: ''
									}`}
								>
									{l.label}
								</a>
							</li>
						)
					})
				: null
		}
	</ul>
</nav>
