<section aria-label="Newsletter" class="pt-12">
	<form
		action="https://buttondown.email/api/emails/embed-subscribe/oxomoto"
		method="post"
		target="popupwindow"
		onsubmit="window.open(`https://buttondown.email/oxomoto`, `popupwindow`)"
		class="embeddable-buttondown-form py-8"
	>
		<label for="bd-email">Enter your email</label>
		<input type="email" name="email" id="bd-email" class="rounded bg-gray-200" />
		<input
			type="submit"
			value="Subscribe"
			class="cursor-pointer rounded bg-gray-500 px-2 text-gray-200 hover:bg-white hover:text-black"
		/>
		<p class="text-gray-500">
			Occassional snail-mail about art, design, technology and other thoughts
		</p>
	</form>
</section>
