<section aria-label="Newsletter" class="pt-12">
	<form
		action="https://buttondown.email/api/emails/embed-subscribe/oxomoto"
		method="post"
		target="popupwindow"
		onsubmit="window.open(`https://buttondown.email/oxomoto`, `popupwindow`)"
		class="embeddable-buttondown-form"
	>
		<label class="mb-[-2px] block" for="bd-email">Occassional snail-mail </label>
		<p class="pb-2 text-gray-500">Newsletter about art, design, technology and other thoughts</p>
		<input type="email" name="email" id="bd-email" class="rounded bg-gray-200" />
		<input
			type="submit"
			value="Subscribe"
			class="hover:bg-tomato text-mauve hover:text-mauve cursor-pointer rounded bg-gray-500 px-2"
		/>
	</form>
</section>
