<section aria-label="Newsletter" class="pt-12">
	<form
		action="https://buttondown.email/api/emails/embed-subscribe/oxomoto"
		method="post"
		target="popupwindow"
		onsubmit="window.open(`https://buttondown.email/oxomoto`, `popupwindow`)"
		class="embeddable-buttondown-form"
	>
		<input
			type="email"
			name="email"
			id="bd-email"
			class="rounded bg-slate-200 pl-2 text-dark dark:text-dark"
		/>
		<input
			type="submit"
			value="Subscribe"
			class="cursor-pointer rounded bg-stone-400 px-2 text-mauve hover:bg-darkSand hover:text-mauve"
		/>
		<label class="block pb-4 text-stone-400" for="bd-email"
			>Occassional snail-mail about art, design, technology and other thoughts
		</label>
	</form>
</section>

<style>
	input:focus-visible {
		outline-color: rgb(168 162 158);
		outline-style: dashed;
		outline-width: 2px;
	}
</style>
