---
import Button from '@/components/Button.astro'
---

<section aria-label="Newsletter">
	<p>Occassional snail-mail on projects, thoughts, and other tidbits.</p>
	<form
		action="https://buttondown.email/api/emails/embed-subscribe/oxomoto"
		method="post"
		target="popupwindow"
		onsubmit="window.open(`https://buttondown.email/oxomoto`, `popupwindow`)"
		class="embeddable-buttondown-form flex gap-2 pt-2"
	>
		<input type="email" name="email" id="bd-email" class="pl-2" />
		<Button class="cursor-pointer" style={'padding:0.25rem'} hover={true}>
			<input type="submit" value="Subscribe" class="cursor-pointer" />
		</Button>
	</form>
</section>

<style>
	form > input:focus-visible {
		outline-color: rgb(229, 229, 229);
		outline-style: dashed;
		outline-width: 1px;
		border: 0px;
	}

	form > input {
		border: 2px solid rgb(229, 229, 229);
		color: inherit;
		background-color: transparent;
	}
</style>
