---

---

<select
	class="bg-mauve dark:bg-dark sticky bottom-10 z-10 max-w-80 rounded border p-2 transition-all duration-600 ease-[cubic-bezier(0.16,1,0.3,1)] md:w-[50vw]"
>
	<option>Selected work</option>
	<option>All</option>
	<option>Web</option>
	<option>Art</option>
</select>

<style>
	select {
		color: red;
	}
</style>
