---
import '../assets/styles/reset.css'
import '../assets/styles/global.css'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<script is:inline>
			const theme = localStorage.getItem('theme'),
				isSystemDark = window.matchMedia('(prefers-color-scheme: dark)').matches
			theme === 'dark' || (!theme && isSystemDark)
				? document.documentElement.classList.add('dark')
				: theme === 'light'
					? document.documentElement.classList.remove('dark')
					: theme === 'system' && isSystemDark && document.documentElement.classList.add('dark')
		</script>
	</head>

	<body
		class="align-between bg-mauve-50 text-darkSand flex h-screen flex-col dark:bg-dark dark:text-darkText"
	>
		<Header />
		<slot />

		<footer class="mt-auto w-full p-4">
			<Footer />
		</footer>
	</body>
</html>
