---
import '../assets/styles/reset.css'
import '../assets/styles/global.css'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'

interface Props {
	title: string
}

// const { title } = Astro.props
const { title, class: className, ...rest } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<script is:inline>
			const theme = localStorage.getItem('theme'),
				isSystemDark = window.matchMedia('(prefers-color-scheme: dark)').matches
			theme === 'dark' || (!theme && isSystemDark)
				? document.documentElement.classList.add('dark')
				: theme === 'light'
					? document.documentElement.classList.remove('dark')
					: theme === 'system' && isSystemDark && document.documentElement.classList.add('dark')
		</script>
		<script defer data-domain="oxomoto.co" src="https://plausible.farnientesystems.com/js/script.js"></script>
		<script defer src="https://umami.farnientesystems.com/script.js" data-website-id="078ae678-0b57-4d6f-bc4d-77f893f483f7"></script>

	</head>

	<body
		class:list={[
			'align-between bg-mauve-50 flex flex-col text-darkSand dark:bg-dark dark:text-darkText',
			className
		]}
		{...rest}
	>
		<div class="flex h-full w-full flex-col md:flex-row">
			<Header />
			<slot />
		</div>
		<Footer />
	</body>
</html>
