---
import "../assets/styles/reset.css";
import "../assets/styles/global.css";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

interface Props {
	title: string;
	class?: string;
}

const { title, class: className, ...rest } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<slot name="head" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/socials/favicon.svg" />
		<title>{title}</title>
		<script is:inline>
			const theme = localStorage.getItem('theme'),
				isSystemDark = window.matchMedia('(prefers-color-scheme: dark)').matches
			theme === 'dark' || (!theme && isSystemDark)
				? document.documentElement.classList.add('dark')
				: theme === 'light'
					? document.documentElement.classList.remove('dark')
					: theme === 'system' && isSystemDark && document.documentElement.classList.add('dark')
		</script>

		<!-- <script
			is:inline
			src="https://umam.farnientesystems.com/script.js"
			data-website-id="f1c264d3-ef23-4fb2-a8fb-5c1ec283e9b0"></script> -->
	</head>

	<body
		class:list={[
			'align-between bg-mauve-50 flex flex-col text-darkSand dark:bg-dark dark:text-darkText',
			className
		]}
		{...rest}
	>
		<div class="flex h-full w-full flex-col md:flex-row">
			<Header />
			<slot />
		</div>
		<Footer />
	</body>
</html>
